<p>
  <mat-toolbar color="primary">
    <button (click)="menuIconClicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>help</mat-icon>
    </button>
    <button [mat-menu-trigger-for]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item><mat-icon>exit_to_app</mat-icon>
        Sign-out</button>
    </mat-menu>
  </mat-toolbar>
</p>