.card{
    width: 200px;
    height: 100px;
    padding: 20px;
    /* margin-bottom: 20px; */
}
mat-icon{
    font-size: 28px;
}
.content h3, h5{
    font-weight: 900;
    font-size: larger;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
