<!-- card -->
<div class="card">
    <mat-card>
        <app-card
        bg="orange"
        icon="import_contacts"
        content="Admissions"
        total="4000"
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="green"
        icon="home"
        content="Placements"
        total="3000"
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="red"
        icon="person"
        content="Student"
        total="5000"
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="blue"
        icon="group"
        content="Employees"
        total="300"
        ></app-card>
    </mat-card>
 

</div>
<!-- AreaChart -->
<div>
    <app-area-chart></app-area-chart>
</div>
<!-- table -->
<!-- Piechart -->
<div class="parent">
    <app-table></app-table>
    <app-piechart></app-piechart>
</div>

